@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Micro+5&family=Tiny5&display=swap');


:root {
    --background-color: #1F2936;
    --primary-color: #0C8F63;
    --lower-primary-color: #0C8F6340;
    --secondary-color: #10B981;
    --text-color: #1F2937;
    --hover-color: #0b7753;
    --shadow-color: #0c8f6380;
    --focus-color: #1F2937;
    --font-family-main: "Jersey 25", Geneva, Tahoma, sans-serif;
    --font-family-secondary: 'Abril Fatface', cursive;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family-main);
    transition: all .5s;
}

body {
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 90vh;
    width: 100vw;
}
.grid{
    transition: all .5s;
    background-size: 40px 40px;
    background-image:
    linear-gradient(to right, var(--lower-primary-color) 1px, transparent 1px),
    linear-gradient(to bottom, var(--lower-primary-color) 1px, transparent 1px);
    animation: move-and-opacity 5s linear infinite;
}
@keyframes move-and-opacity {
    0% {
        background-position: 0 0;
        }
    50% {
        background-position: 20px 20px;
        }
    100% {
        background-position: 40px 40px;
        }
}

.pages {
    height: 80vh;
    width: 100%;
    display: none;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.signInAndLoginP-op, .mainMenuP-op, .leaderBoardP-op, .settingsP-op,.soloP-op {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
}
.signInAndLoginP{
    gap: 20px;
    text-align: center;
}

.settingsP , .leaderBoardP{
    justify-content: start;
    height: 100vh;
    align-items: start;
    
}

.settingsP h1 , .leaderBoardP h1{
    font-size: 2em;
    color: var(--secondary-color);
    margin: 10px;
}

.settingsP h2 , .settingsP label{
    font-size: 2em;
    color: var(--hover-color);
    margin: 10px;
    font-weight: 300;
}
.warning-message {
    color: var(--hover-color); /* Uses the main text color */
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 15px;
}

.dropBtns{
    background-color: rgba(0,0,0,0);
    color: var(--secondary-color);
    font-size: 2em;
    cursor: pointer;
    border: none;
    box-shadow: none;
    height: 50px;
    width: 50px;
    display: inline;

}

.options{
    width: 100%;
    border-bottom: 5px var(--lower-primary-color) solid;
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    flex-wrap: wrap;
    padding-bottom: 10px;
}


.SettingsOptions{
    height: 0px;
    width: 100%;
    display: none;
    transition: all 0.5s;
}

select{
    background-color: var(--lower-primary-color);
    color: var(--primary-color);
    font-size: 1em;
    border-radius: 50px;
    margin-right: 10px;
    padding: 5px;
    border: 2px var(--primary-color) solid;
}

.gameOptions:hover{
    .gameSettingsOptions{
        display: block;
        height: 200px;
    }
    .gameOptionsDropBtn{
        transform: rotate(-90deg);
    }
}
.soundOptions:hover { 
     .soundSettingsOptions{
        display: block;
        min-height: 250px;
    }
    .soundOptionsDropBtn{
        transform: rotate(-90deg);
    }
}

.themeOptions:hover { 
     .themeSettingsOptions{
        display: block;
        height:100px;
    }
    .themeOptionsDropBtn{
        transform: rotate(-90deg);
    }
}

.accountOptions:hover { 
     .accountSettingsOptions{
        display: block;
        height:200px;
    }
    .accountOptionsDropBtn{
        transform: rotate(-90deg);
    }
}

.settingsP form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    padding: 0 10px;
}

.settingsP select {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-size: 1em;
    border: 2px var(--primary-color) solid;
}

.slider {
    /* slider */
    --slider-width: 100%;
    --slider-height: 6px;
    --slider-bg: var(--lower-primary-color);
    --slider-border-radius: 999px;
    --slider-border:2px solid var(--secondary-color);
    /* level */
    --level-color:var(--primary-color);
    --level-transition-duration: .1s;
}
  
  .slider {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
/* From Uiverse.io by andrew-demchenk0 */ 
.container {
    --input-focus: var(--primary-color);
    --input-out-of-focus: var(--lower-primary-color);
    --bg-color:var(--background-color);
    --bg-color-alt: #666;
    --main-color: #323232;
    position: relative;
    cursor: pointer;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
  }
  
  .checkmark {
    width: 30px;
    height: 30px;
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    box-shadow: 2px 2px var(--main-color);
    background-color: var(--input-out-of-focus);
    transition: all 0.3s;
  }
  
  .container input:checked ~ .checkmark {
    background-color: var(--input-focus);
  }
  
  .checkmark:after {
    content: "";
    width: 7px;
    height: 15px;
    position: absolute;
    top: 2px;
    left: 8px;
    display: none;
    border: solid var(--bg-color);
    border-width: 0 2.5px 2.5px 0;
    transform: rotate(45deg);
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
    
.slider .volume {
display: inline-block;
vertical-align: top;
margin-right: var(--icon-margin);
color: var(--icon-color);
width: var(--icon-size);
height: auto;
}

.slider .level {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
width: var(--slider-width);
height: var(--slider-height);
background: var(--slider-bg);
overflow: hidden;
border-radius: var(--slider-border-radius);
-webkit-transition: height var(--level-transition-duration);
-o-transition: height var(--level-transition-duration);
transition: height var(--level-transition-duration);
cursor: inherit;
}

.slider .level::-webkit-slider-thumb {
-webkit-appearance: none;
width: 0;
height: 0;
-webkit-box-shadow: -200px 0 0 200px var(--level-color);
box-shadow: -200px 0 0 200px var(--level-color);
}

.slider:hover .level {
height: calc(var(--slider-height) * 2);
}
.summit{
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
    
}

.summit:active{
    transform: translate(-50%, -50%) scale(1.1);
}

.title {
    text-align: center;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 5em;
    padding: clamp(24px, 10vh, 48px) 0 10px;
}

.btns {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 6%;
    padding-top: clamp(30px, 15vw, 70px);
}

/* From Uiverse.io by andrew-demchenk0 */ 
.wrapper {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
      /* display: flex; */
      /* flex-direction: column; */
      /* align-items: center; */
  }
  /* switch card */
.switch {
transform: translateY(-200px);
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 30px;
width: 50px;
height: 20px;
}

.card-side::before {
position: absolute;
content: 'Log in';
left: -70px;
top: 0;
width: 100px;
text-decoration: underline;
color: var(--font-color);
font-weight: 600;
}

.card-side::after {
position: absolute;
content: 'Sign up';
left: 70px;
top: 0;
width: 100px;
text-decoration: none;
color: var(--font-color);
font-weight: 600;
}

.toggle {
opacity: 0;
width: 0;
height: 0;
}

.slider {
box-sizing: border-box;
border-radius: 5px;
border: 2px solid var(--main-color);
box-shadow: 4px 4px var(--main-color);
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: var(--bg-colorcolor);
transition: 0.3s;
}

.slider:before {
box-sizing: border-box;
position: absolute;
content: "";
height: 20px;
width: 20px;
border: 2px solid var(--main-color);
border-radius: 5px;
left: -2px;
bottom: 2px;
background-color: var(--bg-color);
box-shadow: 0 3px 0 var(--main-color);
transition: 0.3s;
}

.toggle:checked + .slider {
background-color: var(--input-focus);
}

.toggle:checked + .slider:before {
transform: translateX(30px);
}

.toggle:checked ~ .card-side:before {
text-decoration: none;
}

.toggle:checked ~ .card-side:after {
text-decoration: underline;
}

/* card */ 

.flip-card__inner {
width: 300px;
height: 350px;
position: relative;
background-color: transparent;
perspective: 1000px;
    /* width: 100%;
    height: 100%; */
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}

.toggle:checked ~ .flip-card__inner {
transform: rotateY(180deg);
}

.toggle:checked ~ .flip-card__front {
box-shadow: none;
}

.flip-card__front, .flip-card__back {
padding: 20px;
position: absolute;
display: flex;
flex-direction: column;
justify-content: center;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
background: lightgrey;
gap: 20px;
border-radius: 5px;
border: 2px solid var(--main-color);
box-shadow: 4px 4px var(--main-color);
}

.flip-card__back {
width: 100%;
transform: rotateY(180deg);
}

.flip-card__form {
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
}

.title {
margin: 20px 0 20px 0;
font-size: 25px;
font-weight: 900;
text-align: center;
color: var(--main-color);
}

.flip-card__input {
width: 250px;
height: 40px;
border-radius: 5px;
border: 2px solid var(--main-color);
background-color: var(--bg-color);
box-shadow: 4px 4px var(--main-color);
font-size: 15px;
font-weight: 600;
color: var(--font-color);
padding: 5px 10px;
outline: none;
}

.flip-card__input::placeholder {
color: var(--font-color-sub);
opacity: 0.8;
}

.flip-card__input:focus {
border: 2px solid var(--input-focus);
}

.flip-card__btn:active, .button-confirm:active {
box-shadow: 0px 0px var(--main-color);
transform: translate(3px, 3px);
}

.flip-card__btn {
margin: 20px 0 20px 0;
width: 120px;
height: 40px;
border-radius: 5px;
border: 2px solid var(--main-color);
background-color: var(--bg-color);
box-shadow: 4px 4px var(--main-color);
font-size: 17px;
font-weight: 600;
color: var(--font-color);
cursor: pointer;
} 
button {
    width: clamp(150px, 40vw, 240px);
    aspect-ratio: 3/1;
    font-weight: 400;
    font-size: clamp(17px, 7vw, 34px);
    background-color: var(--secondary-color);
    border: clamp(7px, .5vw, 20px) solid var(--primary-color);
    border-radius: clamp(5px, 65vw, 10px);
    color: var(--text-color);
    box-shadow: clamp(7px, 0.5vw, 18px) clamp(7px, 1vw, 18px) 0px var(--shadow-color);
    cursor: pointer;
    
}

.signInAndLoginP button {
    width: clamp(290px, 70vw, 300px);
    aspect-ratio: 4/1.3;
    min-width: 150px;
    min-height: 51px;
    font-size: 30px;
    margin-top: 5vh;
}

.mainMenuP button{
    width:clamp(200px,80vw,300px);
    aspect-ratio: 4/1;
}


input:focus {
    box-shadow: 2px 2px 0px var(--primary-color), 4px 4px 0px var(--hover-color), 6px 6px 0px var(--focus-color), 9px 9px 12px black;
    transform: scale(1.01);
}

.signInAndLoginP h1:hover {
    transform: scale(1.1);
}

button:active {
    transform: translate(4px, 8px);
    box-shadow: none;
    background-color: var(--lower-primary-color);
    color: var(--secondary-color);
}

.name {
    width: clamp(300px, 65vw, 400px);
    background-color: var(--lower-primary-color);
    aspect-ratio: 1/.7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-main);
    font-weight: bold;
    font-style: italic;
    font-size: clamp(100px, 20vw, 120px);
    color: var(--secondary-color);
    box-shadow: 8px 8px 0px var(--lower-primary-color), -8px -8px 0px var(--lower-primary-color);
    text-shadow:4px 4px 0px var(--primary-color);
    padding-right: 2vw;
    border: 5px solid var(--primary-color);
    border-radius: 2px;
    margin-bottom: 20px;
}

.soloP .btns button {
    aspect-ratio: 5/1;
    font-family:"Micro 5";
    width: clamp(200px, 80%, 400px);
    font-size: clamp(20px,10vw,45px) ;
}

.display {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures elements inside are spaced, pushing the last item to the bottom */
    align-items: center;
    background: var(--lower-primary-color);
    border: 5px solid var(--primary-color);
    box-shadow: clamp(5px, 0.5vw, 20px) clamp(7px, 0.75vw, 20px) var(--lower-primary-color);
    border-radius: 10px;
    height: clamp(200px, 30vh, 300px);
    width: clamp(350px, 80vw, 1500px);
    bottom: 50%;
}

hr{
    width: 100%;
    border: 3px solid var(--primary-color);
    
}

.probContainer{
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.massageContainer {
    align-self: stretch; /* Makes it span the full width of the container */
    border-top: 6px solid var(--primary-color);
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.display .prob {
    font-size: clamp(80px, 15vw, 120px);
    
    font-family: "Jersey 10";
    font-weight: 150;
    color: var(--secondary-color);
}
.superscript {
    vertical-align: super;
    font-size: smaller;
}
.massage {
    position: relative;
    font-size: 5px;
    font-family: "Jersey 10";
    font-weight: 200;
    font-size: medium;
    color:var(--secondary-color);
}

.timer {
    position: relative;
    top: 7.5%;
    padding: 5px 15px;
    background: var(--lower-primary-color);
    border: 4px solid var(--primary-color);
    box-shadow: 0.35vw 0.5vw var(--lower-primary-color);
    color: var(--secondary-color);
    border-radius: 10px;
    font-family:"Jersey 10";
    font-weight: 100;
    font-size:25px;
    display: none;
}


.soloP h1, a {
    font-size: 25px;
    color: var(--secondary-color);
}

.soloP .info {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    /* gap: 5px; */
    padding-left: 20px;
    padding: 5px;
    color: var(--secondary-color);
    position: absolute;
    top: 5vh;
    left: 3%;
    border-radius: 6px;
    
}
.score , .highScore{
    font-size: 14px;
    font-family: "Jersey 10";
    font-weight: 100;
    color: var(--secondary-color);
    
}
.backBtn {
    font-size: 40px;
    aspect-ratio: 1/1;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 5vh;
    right: 5%;
}
.confirmation-modal , .startCountdown{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px); /* Adds the blur effect */
    justify-content: center;
    align-items: center;
}

.startCountdown{
    
    font-size:clamp(5rem,20vw,25rem);
    font-style: italic;
    font-weight: bolder;
    text-shadow: clamp(5px, 0.5vw, 20px) clamp(5px, 0.5vw, 20px) var(--primary-color), clamp(10px, 1vw, 40px) clamp(10px, 1vw, 40px) var(--lower-primary-color);
    color: var(--secondary-color);
    background-color: rgba(0, 0, 0, 0.9);
}

.confirmation-modal-content {
    background-color:var(--background-color);
    border-radius: 25px;
    border: 5px solid var(--primary-color);
    box-shadow: clamp(5px, 0.5vw, 20px) clamp(7px, 0.75vw, 28px) var(--lower-primary-color), 0 4px 6px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.confirmation-modal-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 300;
}
.confirmation-modal-content p , .confirmation-modal-content h2{

    color: var(--secondary-color);
}

.confirmation-modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.confirmation-modal-buttons button {
    padding: 10px 20px;
    cursor: pointer;
    font-size: clamp(16px,4vw,30px);
}

.confirm-yes {
    margin-right: 2vw;
    
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

.displayL {
    animation: shake 0.5s ease-in-out;
    background-color:rgba(255,0,0,0.2);
    box-shadow: clamp(5px,0.5vw,20px) clamp(7px,0.75vw,20px) rgba(255,0,0,0.2);
    border: 5px solid rgba(255,0,0,0.5);
}
.hrL {
    border-top: 6px solid rgba(255,0,0,0.5);
}

.soloP .displayL h1{
    color: rgba(255,0,0,0.5);
}
